.grid {
  display: grid;
}

.grid-container {
  // grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 
    "s"
    "c";
  // grid-gap: 32px 24px;
  // margin: 0 auto;
  min-height: 100vh;
  //padding-bottom: 64px;
}

aside {
  grid-area: s;
}

.HomeLayout-grid {
  grid-area: c;
}

@media (min-width: 641px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "s s c c c c c";
    grid-template-rows: max-content 1fr;
    margin: 0 auto;
    min-height: 100vh;
    padding-bottom: 64px;
  }
}